<ion-header>
  <ion-navbar>
    <ion-title>
      Hello Boy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="{{ foto }}"/>
</ion-content>

<ion-footer padding>
  <button (click)="tiraFoto()" class="btn-tirar-foto" ion-button icon-only round>
    <ion-icon name="camera"></ion-icon>
  </button>
</ion-footer>